<h1>About Us</h1>
<p>Welcome to the About Us page of our Rails application!</p>

<div style="display: inline-flex; gap: 10px; align-items: center;">
  <%= button_to 'Go to Articles Listing', articles_path, method: :get %>
  <%= button_to 'Home', root_path, method: :get %>
</div>